In [1]:
import numpy as np 
import pandas as pd

GROUPBY

In [2]:
data = {
    'Category':['A','B','A','B','A','B','A','B'], 
    'Store':['S1','S1','S2','S2','S1','S2','S2','S1'],
    'Sales':[100,200,150,250,120,300,180,130],
    'Quantity':[10,15,12,10,18,8,25,6],
    'Date':pd.date_range('2025-10-29',periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2025-10-29
1        B    S1    200        15 2025-10-30
2        A    S2    150        12 2025-10-31
3        B    S2    250        10 2025-11-01
4        A    S1    120        18 2025-11-02
5        B    S2    300         8 2025-11-03
6        A    S2    180        25 2025-11-04
7        B    S1    130         6 2025-11-05

In [4]:
# Group by category and Calculate sum of sales

In [8]:
cat = df.groupby('Category')['Sales'].sum()
cat

Category
A    550
B    880
Name: Sales, dtype: int64

In [11]:
stor = df.groupby('Store')['Sales'].sum()
stor

Store
S1    550
S2    880
Name: Sales, dtype: int64

In [13]:
stor = df.groupby(['Category','Store'])['Sales'].sum()
# stor

Category  Store
A         S1       220
          S2       330
B         S1       330
          S2       550
Name: Sales, dtype: int64

In [14]:
# Aggregation mean,std,varience

In [17]:
df['Sales'].mean()

np.float64(178.75)

In [20]:
df['Sales'].max()

300

In [21]:
df['Sales'].median()

165.0

In [22]:
df['Sales'].min()

100

In [23]:
df['Sales'].mode()

0    100
1    120
2    130
3    150
4    180
5    200
6    250
7    300
Name: Sales, dtype: int64

In [24]:
df['Sales'].count()

np.int64(8)

In [25]:
df['Sales'].std()

68.75162335745763

In [27]:
# .agg function

In [29]:
df['Sales'].agg({
    'Mean':'mean',
    'Max':'max', 
    'Min': 'min', 
    'Std':'std'
})

Mean    178.750000
Max     300.000000
Min     100.000000
Std      68.751623
Name: Sales, dtype: float64