In [1]:
import numpy as np 
import pandas as pd

In [2]:
# Pivot Table

In [3]:
data = {
    'date':pd.date_range('2025-10-29',periods=20), 
    'Product':['A','B','C','D'] * 5, 
    'Region':['East','Weat','North','South','East','Weat','North','South','East','Weat','North','South','East','Weat','North','South','East','Weat','North','South'], 
    'Sales':np.random.randint(100,1000,20), 
    'Units':np.random.randint(10,100,20), 
    'Rep':['Qasim','Ali','Mouzan','Subhan','Qasim','Ali','Mouzan','Subhan','Qasim','Ali','Mouzan','Subhan','Qasim','Ali','Mouzan','Subhan','Qasim','Ali','Mouzan','Subhan']
    
}

df = pd.DataFrame(data)

df['Month'] = df['date'].dt.month_name()
df['Quarter'] = 'Q' + df['date'].dt.quarter.astype(str)

df

         date Product Region  Sales  Units     Rep     Month Quarter
0  2025-10-29       A   East    803     37   Qasim   October      Q4
1  2025-10-30       B   Weat    439     23     Ali   October      Q4
2  2025-10-31       C  North    640     83  Mouzan   October      Q4
3  2025-11-01       D  South    411     39  Subhan  November      Q4
4  2025-11-02       A   East    768     42   Qasim  November      Q4
5  2025-11-03       B   Weat    272     88     Ali  November      Q4
6  2025-11-04       C  North    423     15  Mouzan  November      Q4
7  2025-11-05       D  South    459     66  Subhan  November      Q4
8  2025-11-06       A   East    653     10   Qasim  November      Q4
9  2025-11-07       B   Weat    448     28     Ali  November      Q4
10 2025-11-08       C  North    766     99  Mouzan  November      Q4
11 2025-11-09       D  South    114     61  Subhan  November      Q4
12 2025-11-10       A   East    668     44   Qasim  November      Q4
13 2025-11-11       B   Weat    878     58     Ali  November      Q4
14 2025-11-12       C  North    406     47  Mouzan  November      Q4
15 2025-11-13       D  South    451     34  Subhan  November      Q4
16 2025-11-14       A   East    852     75   Qasim  November      Q4
17 2025-11-15       B   Weat    773     17     Ali  November      Q4
18 2025-11-16       C  North    687     32  Mouzan  November      Q4
19 2025-11-17       D  South    335     38  Subhan  November      Q4

In [4]:
pd.pivot_table(df,values='Sales',index='Region',columns='Product',aggfunc='median')

Product      A      B      C      D
Region
East     768.0    NaN    NaN    NaN
North      NaN    NaN  640.0    NaN
South      NaN    NaN    NaN  411.0
Weat       NaN  448.0    NaN    NaN

In [7]:
pivot2 = pd.pivot_table(df,values=['Sales','Units'],index='Region',columns = 'Product')
pivot2

         Sales                      Units
Product      A      B      C      D     A     B     C     D
Region
East     748.8    NaN    NaN    NaN  41.6   NaN   NaN   NaN
North      NaN    NaN  584.4    NaN   NaN   NaN  55.2   NaN
South      NaN    NaN    NaN  354.0   NaN   NaN   NaN  47.6
Weat       NaN  562.0    NaN    NaN   NaN  42.8   NaN   NaN

In [8]:
# Cross Tabs

In [9]:
pd.crosstab(df['Region'],df['Product'])

Product  A  B  C  D
Region
East     5  0  0  0
North    0  0  5  0
South    0  0  0  5
Weat     0  5  0  0